html {
  --background-color: #f8f8f8;
  --element-color: #ffffff;
  --shadow-color: #c8c8c8;
  --primary-color: #63e2c6;
  --primary-text-color: #484848;
  --secondary-text-color: #888888;
  --border-color: #ced4da;
  --alert-color: #ed1c24;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-page {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
  height: 15vh;
  width: 100vw;
  min-height: 220px;
  background-color: blue;
  background-image: url("./assets/maxim-hopman-fiXLQXAhCfk-unsplash.jpg");
  background-size: cover;
}

.header-row-one {
  height: 75%;
  justify-content: center;
  align-items: center;
}

.header-row-two {
  height: 20%;
  /* background-color: blue; */
}

/* Footer */

.footer {
  height: 30vh;

}

.footer-row-one {
  height: 75%;
  justify-content: center;
  align-items: center;
}

/* Notifications */
.notif-action-row {
  height: 50px;
}

.notif-card {
  width: 100%;
  min-height: 70px;
  background-color: #FFFFFF70;
  border-radius: 10px;
  margin-top: 10px !important;
  padding: 5px;
}

.notif-btn-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: yellowgreen; */
}

.header-col-action {
  background-color: #FFFFFF70;
  padding-top: 0px !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 0.5px;
  margin-right: 0.5px;
}

/* Cards */

.card {
  color: var(--primary-text-color);
  text-align: center;
  border: 0;
  -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-color);
  -moz-box-shadow: 0px 2px 5px 0px var(--shadow-color);
  box-shadow: 0px 2px 5px 0px var(--shadow-color);
  border-radius: 0;
}

.card2 {
  height: 210px !important;
  width: 280px !important;
  padding: 20px !important;
  background-color: #FFFFFF70;
  margin-top: 30px !important;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
}

.card a,
.card a:hover {
  color: var(--primary-text-color);
  text-decoration: none;
}

.card-header {
  background-color: white;
  border-top-right-radius: 10px !important;
}

.card-header h6 {
  margin-bottom: 0;
}

.card-body {
  font-size: 80%;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
}

.card-body .badge {
  font-size: 100%;
}

.colorbar {
  border-radius: 10px;
  width: 0.5vw;
  height: 98%;
  margin-top: 0.2vh;
}

/* Buttons */

.btn:not([disabled]):hover,
.icon-btn:not([disabled]):hover {
  cursor: pointer;
}

.primary,
.secondary {
  color: white;
  font-weight: bold;
}

.primary,
.primary:disabled,
.primary:not([disabled]):hover,
.primary:not([disabled]):active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.secondary,
.secondary:disabled,
.secondary:not([disabled]):hover,
.secondary:not([disabled]):active {
  background-color: #ced4da;
  border-color: #ced4da;
}

.danger,
.danger:disabled,
.danger:not([disabled]):hover,
.danger:not([disabled]):active {
  background-color: var(--alert-color);
  border-color: var(--alert-color);
  font-weight: bold;
}

.btn.primary:not([disabled]):hover,
.btn.primary:not([disabled]):active,
.btn.secondary:not([disabled]):hover,
.btn.secondary:not([disabled]):active,
.btn.danger:not([disabled]):hover,
.btn.danger:not([disabled]):active {
  filter: brightness(110%);
}

.primary:disabled,
.secondary:disabled,
.danger:disabled {
  cursor: default;
}
/* Modals */

.modal-title {
  margin-bottom: 0;
  font-weight: bold;
}

.modal-footer {
  align-items: flex-end;
}

/* Forms */

.form-control {
  color: var(--primary-text-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.1rem var(--primary-color);
}

.form-control::placeholder {
  color: var(--secondary-text-color);
}

.form-label {
  margin-bottom: 0;
}

.text-muted {
  color: var(--secondary-text-color) !important;
  text-align: right;
}

.mandatory {
  color: var(--alert-color);
  font-size: 70%;
  font-weight: bold;
}

/* Dropdowns */

.dropdown.btn-group .btn {
  border: 1px solid;
  border-color: #ced4da;
}

.dropdown-toggle.btn-primary,
.dropdown-toggle.btn-primary:not(:disabled):not(.disabled):active,
.show > .dropdown-toggle.btn-primary.dropdown-toggle,
.dropdown-item:active {
  background-color: var(--element-color);
  color: var(--primary-text-color);
  border-color: #ced4da;
}

.dropdown-toggle.btn-primary::after {
  color: var(--primary-text-color);
}

.dropdown-toggle.btn-primary:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.1rem var(--primary-color);
}

.dropdown-item {
  color: var(--secondary-text-color);
}

h1 {
  font-size: calc(2em + 0.5vw);
  font-weight: bold;
}

h2 {
  font-size: calc(1.5em + 0.5vw);
  font-weight: bold;
}

h3 {
  font-size: calc(1.17em + 0.5vw);
}

h4,
.modal-title {
  font-size: calc(1em + 0.5vw);
}

h5 {
  font-size: calc(0.83em + 0.5vw);
}

h6 {
  font-size: calc(0.66em + 0.5vw);
}
